*{
    margin:0px;
    padding:0px;
}
#marks{
    border: solid 16px rgb(59 2 53);
    background-color: antiquewhite;
    margin: 17px;
    padding: 0px 24px;
}
#mark{
    display: flex;
}
#bookmarks h1{
    color: rgb(38, 1, 43);
    font-size: 3.8rem;
    font-family: 'Rubik', sans-serif;
}
#marks .row{
    display: flex;
    padding: 33px 0px;
    flex-wrap: wrap;
}

#marks .box{
    border: 7px solid rgb(55, 4, 68);
    margin: 15px 14px;
    padding: 15px 10px;
    width: 233px;
    background: #ffeafe;
    border-radius:30px;
}

#marks .box img{
    height:133px;
    width: 208px;
    display: block;
    margin:auto;

}
#marks .box p{
    font-family:'Playball', cursive;
}
#marks .marketing{
    text-align: center;
}
#marks .price{
   text-decoration: line-through;
}
#marks .box .btn{
    display: block;
    margin: 16px auto;
 }
 #marks .box .btn a{
    display: block;
    color: white;
    text-decoration: none;
 }
 footer{
    background-color: rgb(41, 1, 43);
    color: antiquewhite;
    padding: 5px;
}
/*utility classes*/
.hprimary{
    font-size: 2.3rem;
    text-align: center;
    padding :17px;
}
.hsecondary{
    font-size: 2.0rem;
    padding: 17px;
}
.hthree{
    font-size: 1.5rem;
    padding: 17px;
}

/*button*/
.btn{
    padding: 12px 23px;
    margin: 17px;
    border: 2px solid rgb(16, 1, 19);
    color: wheat;
    border-radius: 17px;
    background-color: rgb(56 38 63);
    cursor: pointer;
    align-items: center;
}
.btn:hover{
    color:rgb(55, 4, 68);
    background-color: rgb(253, 190, 221); 
}
.center {
    text-align: center;
}