*{margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#navbar{ 
    display: flex;
    align-items: center;
    position: absolute;
    top:0px;  
    position: sticky;   
}
#navbar ul {
    display:flex;
    font-family:'Rubik', sans-serif; 
    margin-left: 69px;
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(38, 1, 43) ;
    opacity:0.7;
    z-index: -1;
    height: 100%;
    width:100%;
    top:0px;
    left:0px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul a{
    color:white;
    display: block;
    text-decoration: none;
    padding: 16px 20px;
    border-radius: 52px;

}
#navbar ul a:hover{
    color:rgb(30, 1, 37);
    background-color: rgb(253, 165, 206); 
}
#bookworld{
    display: flex;
    flex-direction: column;
    height: 936px;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}
#bookworld::before{
    content: "";
    background: url("../image/book3.jpg") no-repeat center center/cover;
    position: absolute;
    left:0px;
    top: 0px;
    height:936px;
    width:100%;
    z-index: -1;
    opacity:0.7;
}
#bookworld h1{ 
    padding: 17px 51px;
    font-size: 4.5rem;
    text-align: center;
    color: #25014b;
}
#bookworld .about{ 
    padding: 15px 96px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(75 7 13);
    font-family: 'Playball', cursive;;
}

#bookorder h1{
    color: rgb(38, 1, 43);
    font-size: 3.8rem;
    font-family: 'Rubik', sans-serif;
}
#orderbooks{
    display: flex;
    border: solid 16px rgb(59 2 53);
    background-color: antiquewhite;
    margin: 17px; 
    padding: 0px 24px;
}
#orderbooks .container{
    display: -webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding: 33px 0px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
#orderbooks .column1{
    -webkit-box-flex: 1;
    -ms-flex: 50%;
    flex:50%;
    width:50%;

}
#orderbooks .column2{
    -webkit-box-flex: 2;
    -ms-flex: 50%;
    flex:50%;
    width:50%;
}

#orderbooks .box{
    border: 7px solid rgb(55, 4, 68);
    margin: 15px 14px;
    padding: 15px 10px;
    background: #ffeafe;
    border-radius:30px;
}
#orderbooks .box img{
    height:133px;
    width: 208px;
    display: block;
    margin:auto;

}
#orderbooks .box p{
    font-family:'Playball', cursive;
}
#orderbooks .box .btn{
    display: block;
    margin: 16px auto;
 }
 #orderbooks .box .btn a{
    display: block;
    color: white;
    text-decoration: none;
 }
 footer{
    background-color: rgb(41, 1, 43);
    color: antiquewhite;
    padding: 5px;
}
/*utility classes*/
.hprimary{
    font-size: 2.3rem;
    text-align: center;
    padding :17px;
}
.hsecondary{
    font-size: 2.0rem;
    padding: 17px;
}

/*button*/
.btn{
    padding: 12px 23px;
    margin: 17px;
    border: 2px solid rgb(16, 1, 19);
    color: wheat;
    border-radius: 17px;
    background-color: rgb(56 38 63);
    cursor: pointer;
    align-items: center;
}
.btn:hover{
    color:rgb(55, 4, 68);
    background-color: rgb(253, 190, 221); 
}
.center {
    text-align: center;
}